{% extends 'base.html' %}

{% block content %}

<h3>📚 {{ curso.nombre }}</h3>

<table class="table table-bordered shadow">

    <thead class="table-dark">
        <tr>
            <th>Día</th>
            <th>Hora</th>
            <th>Aula</th>
            <th>Acción</th>
        </tr>
    </thead>

    <tbody>
        {% for s in secciones %}
        <tr>
            <td>{{ s.dia }}</td>
            <td>{{ s.hora_inicio }} - {{ s.hora_fin }}</td>
            <td>{% if s.salon %}{{ s.salon.numero }}{% else %}Sin asignar{% endif %}</td>

            <td>
                <a href="{% url 'matricular' s.id %}" 
                   class="btn btn-success btn-sm">
                    Elegir
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}